######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

###################
*.bak
*.swp
*.swo
*~
*#

#############
.vscode
.idea
.iml
*.sublime-workspace
.history

#############
bin/
**/log/

#############
ignore_*

node_modules
.env
dist/

var/
*.log
