---
export type Props = {
    href: string;
    text: string;
    icon?: string;
};
const { href, text, icon } = Astro.props;
---

<a href={href} target="_blank" class="container">
    {icon && <img src={icon} alt={`${text} Icon`} />}
    <span>{text}</span>
</a>

<style>
    .container {
        display: flex;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid #001f3e;
        background: #fff;
        transition: all 0.2s ease-in-out;
        transition-property: border, box-shadow;
        color: #001f3e;
        text-align: center;
        font-size: 1rem;
        font-family: Manrope;
        font-weight: 600;
        white-space: nowrap;
    }
    .container:hover {
        border: 1px solid #000120;
        box-shadow: 0px 3px 12px 0px rgba(1, 32, 63, 0.25);
    }
    @media (max-width: 410px) {
        .container {
            width: 100%;
        }
    }
    @media (max-width: 500px) {
        .container {
            padding: 1rem 1.5rem;
        }
    }
</style>
